:root{
    --chalk: #fbf7f5;
    --headingColor: #24496e;
    --backColor: #617384;
    --pageBackColor: #c6c7c1;
    --correctGreen: #48d325;
    --wrongRed: #e03030;
    --wrapperBack: #60616b;
    --darkText: #292525;
  
  }
  
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--pageBackColor);
}
html {
    /* set global font size to 10 for easy calculations */
    font-size: 62.5%;
    background-color: var(--chalk);
}

body {
    /* Set body font and text size */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--darkText);
    background-color: var(--chalk);
}
header {
  margin: 0 auto;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
header p {
  margin: 2rem auto;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--headingColor);
}
h1 {font-size: 3.5rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2.0rem;}
h4 {font-size: 1.8rem;}
h5 {font-size: 1.5rem;}
h6 {font-size: 1.25rem;}

main {
  width:100%;
  display: block;
  justify-items: flex-start ;
  padding: 20px 0px; 
  height: 100vh;
}
.button {
  border-radius: 1rem;
  padding: 5px 25px;
  margin: 1rem 30px;
  font-size: 2rem;
}
.cardWrapper,
.resultWrapper,
.highWrapper {
  display: block;
  background-color: var(--wrapperBack);
  border-radius: 8px;
  box-shadow: 3px 3px 10px darkslategray;
  padding: 8px;
  width: 95vw;
  margin: auto;
}
.qCard,
.rCard,
.hCard, 
.fCard {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 80%;
  background-color: var(--chalk);
  padding: 10px 10px;
  box-shadow: 0px 0px 3px var(--chalk);
  border-radius: 5px;
  text-align: center;
}
.headingDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px var(--wrapperBack) solid;
}
.resultHeading {
  text-align: center;
  border-bottom: 1px var(--wrapperBack) solid;
}
.qAsk {
  padding: 10px;
  width: 100%;
  box-shadow:0 0 5px 3px var(--wrapperBack) ;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  text-align: center;
}
#answerList {
  margin:0 auto;
  width: 90%;
}

#answerList li {
  margin: 5px;
  border: 2px darkgrey outset;
  background-color: #84adcfc0;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0 5px;
}
#answerList li:hover {
  border:2px  darkgrey inset;
}
.fCard p {
  text-align: center;
  font-style: italic;
  opacity: .6;
}

#feedBack {
 text-align: center;
 color: var(--correctGreen);
}
.nameForm,
#nameInput {
  font-size:2rem;
  text-align: center
}
#nameInput {
  text-align: left
}
.nameForm {
  margin-top: 20px;
}
.highList {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around"
}
.highList li {
  width:50%;
  text-align:center;
}

@media (min-width:690px)  {
  .cardWrapper,
  .resultWrapper,
  .highWrapper {
    width: 75%;
  }
  #answerList {
    margin:0 auto;
    width: 85%;
  }
  .qAsk {
    width: 85%;
  }
  h3 {font-size: 2.5rem;}
}

@media (min-width:1280px)  {
  .cardWrapper,
  .resultWrapper,
  .highWrapper {
    width: 60%;
  }
  #answerList {
    margin:0 auto;
    width: 80%;
  }
  
}